@use "./vars.scss" as *;
@use "element-plus/theme-chalk/src/common/var.scss" as elementPlusVar;

.is-3d {
    .el-button:not(.is-text) {
        box-shadow: $shodow-convex;
        &:active:not(.is-disabled) {
            transform: translateY(3px);
            box-shadow: none;
            // box-shadow: 0 3px 0px 1px rgb(0 0 0 / 40%);
        }
    }
    .el-input__wrapper {
        transition: all 0.3s ease;
        box-shadow: $shodow-concave;
        &:hover,
        &:focus {
            transform: translateY(-3px);
            box-shadow: $shodow-convex !important;
            // box-shadow: inset 0px 5px 5px 0px rgb(0 0 0 / 40%);
        }
    }
    .is-error {
        .el-input__wrapper {
            box-shadow: $shodow-concave-danger !important;
            &:hover,
            &:focus {
                box-shadow: $shodow-convex-danger !important;
                // box-shadow: inset 0px 5px 5px 0px rgb(0 0 0 / 40%);
            }
        }
    }

    .el-avatar {
        box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 40%);
    }
}
.el-message-box {
    vertical-align: unset;
    &__message {
        white-space: pre-wrap;
    }
}
.el-notification__content p {
    white-space: pre-wrap;
}

.el-scrollbar {
    &.is-vertical {
        .el-scrollbar__view {
            overflow-x: hidden;
        }
    }
}

.el-menu--collapse {
    .el-sub-menu__title > span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
    }
    .el-sub-menu__icon-arrow {
        display: none;
    }
    .el-menu-item-group__title {
        display: none;
    }
}

.el-icon--svg {
    width: 1.2em;
    height: 1.2em;
}

.el-form {
    &-item {
        &__label {
            align-items: center;
        }
    }
}

.el-tree-node {
    &.is-current {
        > .el-tree-node__content {
            box-shadow: inset 0 0 5px var(--el-color-primary-light-5);
            > .el-tree-node__label {
                color: var(--el-color-primary);
                font-weight: bold;
            }
        }
    }
    &.is-deleted {
        > .el-tree-node__content {
            text-decoration: 3px var(--el-color-danger) line-through;
        }
    }
    &.is-disabled {
        > .el-tree-node__content {
            text-decoration: 3px var(--el-color-warning) line-through;
        }
    }
}
.el-descriptions--hideTitle {
    .el-descriptions__header {
        .el-descriptions__title {
            display: none;
        }
        .el-descriptions__extra {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
}
.el-switch {
    &.is-readonly {
        * {
            cursor: default !important;
        }
    }
}

// .el-table__header {
//     .el-table__cell {
//         text-align: center;
//     }
// }

.el-table__body {
    .el-table__column--action {
        .cell {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.el-select,
.el-date-editor {
    width: 100% !important;
}

$dialog-widths: (
    "90%": "(max-width: #{elementPlusVar.$sm})",
    "80%": "(min-width: #{elementPlusVar.$sm})",
    "70%": "(min-width: #{elementPlusVar.$md})",
    "60%": "(min-width: #{elementPlusVar.$lg})",
    "50%": "(min-width: #{elementPlusVar.$xl})",
) !default;

@each $width, $value in $dialog-widths {
    @media only screen and #{$value} {
        .el-dialog {
            --el-dialog-width: #{$width};
        }
    }
}
