@use "./vars.scss" as *;

.is-3d {
    .el-button:not(.el-button--text) {
        box-shadow: $shodow-convex;
        &:active {
            transform: translateY(3px);
            box-shadow: none;
            // box-shadow: 0 3px 0px 1px rgb(0 0 0 / 40%);
        }
    }
}
.is-3d {
    .el-input__inner {
        transition: all 0.3s ease;
        box-shadow: $shodow-concave;
        &:hover,
        &:focus {
            transform: translateY(-3px);
            box-shadow: $shodow-convex;
            // box-shadow: inset 0px 5px 5px 0px rgb(0 0 0 / 40%);
        }
    }
}
.is-3d.el-form {
    .el-form-item.is-error {
        .el-input__inner {
            box-shadow: $shodow-concave-danger;
            &:hover,
            &:focus {
                box-shadow: $shodow-convex-danger;
                // box-shadow: inset 0px 5px 5px 0px rgb(0 0 0 / 40%);
            }
        }
    }
}

.el-message-box {
    vertical-align: unset;
}

.el-scrollbar {
    &.is-vertical {
        .el-scrollbar__view {
            overflow-x: hidden;
        }
    }
}

.el-menu--collapse {
    .el-sub-menu__title > span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
    }
    .el-sub-menu__icon-arrow {
        display: none;
    }
    .el-menu-item-group__title {
        display: none;
    }
}

.el-icon--svg {
    width: 1.2em;
    height: 1.2em;
}
