@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $bg-color: (
        "": #ebeef5,
        "page": #ebeef5,
        "overlay": #ebeef5,
    ),
    $sm: 576px,
    $md: 768px,
    $lg: 992px,
    $xl: 1200x,
);

// @forward "element-plus/theme-chalk/src/dark/var.scss" with (
//     $bg-color: (
//         "": #626aef,
//         "page": #0a0a0a,
//         "overlay": #1d1e1f,
//     )
// );

@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/src/dark/css-vars.scss";
@use "element-plus/theme-chalk/src/display.scss" as *;

@use "./element-custom.scss";
