@use "element-plus.scss";
@use "./effect-3d.scss";
@use "./utils.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--el-bg-color);
}

#app {
    height: 100%;
}
