// 凸
$shodow-convex: 0 3px 0px 1px rgb(0 0 0 / 40%);
$shodow-convex-danger: 0 3px 0px 1px rgba(252 0 0 / 0.4);
// 凹
$shodow-concave: inset 0px 5px 5px 0px rgb(0 0 0 / 40%);
$shodow-concave-danger: inset 0px 5px 5px 0px rgb(255 0 0 / 40%);
